/* *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

/* Define project type font elements. */
/* body {
  box-sizing: border-box; }

::selection {
  background-color: #031854;
  color: #ffffff; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7; }

.heading-primary {
  color: #031854;
  font-size: 2rem; } */


main{
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1{
  font-size: 1.8rem;
  padding: 1rem 0.1rem
}

h2{
  font-size: 1.4rem;
  padding: 0.5rem
}
.rating span{
 
    margin: 0.1rem;
 
}

 /* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex
}

.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carImg {
  width: 100%;
  display: flex;
  justify-content: center;
}
.carousel img {
  height: 300px;
  padding: 30px;
  border-radius: 50%;
  margin: 100px;
}

.carousel a {
  margin: 0 auto;
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}